In [1]:
## 1. The coefficient estimates would not be unique if OLS is used to estimate them.
##    It is better to use LASSO to shrink the regression as it can also plays the role of
##    variable selection to produce a optimized combination of variables with unique coefficients.

In [2]:
## 2. f

In [3]:
## 3. f

In [4]:
## 4. The training error and the validation error are almost equal, so I would say overfitting is not the main concern.
##    However, underfitting might be a problem because both of the errors are high. Therefore, the model suffer high bias
##    rather than high variance. In this case, I would reduce the regularization parameter since I think the coefficients
##    are shrinked too much so they don't have enough weight or effect on predictor data.

In [9]:
## 5a
import boto3
import pandas as pd
import numpy as np

s3 = boto3.resource('s3')
bucket = s3.Bucket('danhtran358-data-445-bucket')
bucket_object = bucket.Object('CarPrice_Assignment.csv')
file_object = bucket_object.get()
file_stream = file_object.get('Body')

car_price = pd.read_csv(file_stream)
car_price.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [25]:
## 5b
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, LassoCV, Ridge, RidgeCV
## Predictors and target variables
X = car_price[['wheelbase', 'enginesize', 'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg']]
Y = car_price['price']

## List to store coefficients
lasso_coef = list()

for i in range(1000):

    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)
    
    ## Estimate lambda using cv
    lasso_cv = LassoCV(normalize = True, cv = 5).fit(X_train, Y_train)
    
    ## Building LASSO model
    lasso_md = Lasso(alpha = lasso_cv.alpha_, normalize = True).fit(X_train, Y_train)
    
    lasso_coef.append(lasso_md.coef_)

lasso_coef_df = pd.DataFrame(lasso_coef)
lasso_coef_df.head()

,0,1,2,3,4,5,6
0,250.708883,109.948358,230.057272,44.120203,1.884865,-17.759608,-50.871283
1,225.421873,100.366757,246.982197,64.008335,1.201606,-9.632120,-0.000000
2,149.264711,110.862216,277.949344,48.378070,1.725048,-215.722618,126.717452
3,139.749340,102.621583,337.790229,46.470699,2.264008,-106.669831,-21.626519
4,233.538974,89.972358,292.587317,61.001955,1.946395,-91.585081,-0.000000

In [27]:
## get the count of 0 in each column
print((lasso_coef_df == 0).sum())

0      0
1      0
2      0
3      0
4      0
5     12
6    754
dtype: int64

In [29]:
## Dropping column highwaympg
X = X.drop(columns = ['highwaympg'], axis = 1)
X.head()

   wheelbase  enginesize  compressionratio  horsepower  peakrpm  citympg
0       88.6         130               9.0         111     5000       21
1       88.6         130               9.0         111     5000       21
2       94.5         152               9.0         154     5000       19
3       99.8         109              10.0         102     5500       24
4       99.4         136               8.0         115     5500       18

In [30]:
## 5d
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

def l2_normalization(X):
    
    x_mean = np.mean(X)
    l2 = np.sqrt(sum(X**2))
    return (X - x_mean) / l2

X_train = X_train.apply(l2_normalization, axis = 1)
X_test = X_test.apply(l2_normalization, axis = 1)

In [34]:
## 5e
## Building linear model
linear_md = LinearRegression().fit(X_train, Y_train)

## Predicting on test dataset
preds1 = linear_md.predict(X_test)

mse1 = np.mean(np.power(preds1 - Y_test, 2))
mse1

19550351.633420374

In [44]:
## 5f
## list to store optimal lambdas
optimal_lambdas = list()

for i in range(100):
    X_train2, X_test2, Y_train2, Y_test2 = train_test_split(X, Y, test_size = 0.2)
    
    ridge_cv = RidgeCV(alphas = [0.001, 0.01, 0.1, 1, 10, 100], normalize = True, cv = 5). fit(X_train2, Y_train2)
    
    optimal_lambdas.append(ridge_cv.alpha_)

In [45]:
## Get the frequency of each lambda
from collections import Counter
Counter(optimal_lambdas)

Counter({0.1: 76, 0.01: 23, 0.001: 1})

In [46]:
## Build model on the same dataset that built LinearRegression model
ridge_md = Ridge(alpha = 0.1).fit(X_train, Y_train)

## Predicting on test dataset
preds2 = ridge_md.predict(X_test)

mse2 = np.mean(np.power(preds2 - Y_test, 2))
mse2

87853571.70897722

In [ ]:
## 5g. I would use the first model (linear_md) as it has lower MSE, or lower error in predictions

In [ ]:
same train dataset yields same lambda -> split new dataset?
normalize train dataset -> normalize = True for RidgeCV or not?
same train dataset between linear model and ridge model?