In [1]:
import boto3
import pandas as pd
import numpy as np

## Defining the bucket
s3 = boto3.resource('s3')
bucket_name = 'danhtran358-data-445-bucket'
bucket = s3.Bucket(bucket_name)

## Defining the csv file
file_key = 'Real_Estate.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

## Reading the csv file
house_price = pd.read_csv(file_content_stream)
house_price.head()

,No,transaction_date,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [5]:
## Dropping No and transction_date
house_price = house_price.drop(columns = ['No', 'transaction_date'], axis = 1)
house_price.head()

,house_age,distance_to_the_nearest_MRT_station,number_of_convenience_stores,latitude,longitude,house_price_of_unit_area
0,32.0,84.87882,10,24.98298,121.54024,37.9
1,19.5,306.59470,9,24.98034,121.53951,42.2
2,13.3,561.98450,5,24.98746,121.54391,47.3
3,13.3,561.98450,5,24.98746,121.54391,54.8
4,5.0,390.56840,5,24.97937,121.54245,43.1

In [7]:
from sklearn.model_selection import train_test_split

## Defining the input and target variables
X = house_price.drop(columns = ['house_price_of_unit_area'], axis = 1)
Y = house_price['house_price_of_unit_area']

## Splitting the data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

## Building the linear model
from sklearn.linear_model import LinearRegression

lm_md = LinearRegression().fit(X_train, Y_train)
lm_md.coef_

array([-2.54469708e-01, -4.31081833e-03,  1.16264622e+00,  2.02027539e+02,
        1.53876617e+01])

In [8]:
lm_md.intercept_

-6872.018005779067

In [10]:
## Predicting on test
preds = lm_md.predict(X_test)
preds

array([33.59534254, 32.81701646, 24.59290423, 48.16038569, 48.3205949 ,
       46.41978875, 30.78082202, 42.12121066, 14.97151039, 32.51324464,
       43.63240549, 45.75358679, 36.54223162, 32.85874524, 30.44924086,
       44.50943177, 50.11242867, 34.20502134, 36.02289664, 41.94516124,
       47.03875973, 52.14290851, 42.12121066, 40.52893679, 43.94331501,
       52.3210373 , 43.67342184, 45.93446214, 39.45821558, 31.49655746,
       32.07777481, 43.79246754, 37.4802486 , 46.06474023, 43.52203765,
       31.47575581, 42.12121066,  7.45920447, 40.65617165, 30.82930375,
       11.88037688, 29.33173205, 35.61176563, 32.31113263, 42.34057637,
       45.98535608, 37.48518508, 52.19380245, 45.51321053,  7.51009841,
       42.2144003 , 50.03714368, 49.08745866, 42.70856002, 37.82462613,
       32.52915572, 45.47796038, 47.83450117, 42.0362715 , 29.07061137,
       28.39997959, 38.6077132 , 45.70269285, 15.41298126, 39.45478517,
       45.70269285, 46.07565571, 33.53368056, 45.55430129, 46.33886712,
       45.55430129, 31.43756328, 46.41978875, 32.40963684, 46.43812375,
       45.74941582, 33.38139656, 40.57579664, 52.37193125, 14.9915614 ,
       45.3761725 , 29.78097538, 30.52344856])

In [11]:
## Computing the mse
mse = np.mean(np.power(preds - Y_test, 2))
mse

44.65162453756621